<main id="main-menu" class="main-active w-full h-screen bg-gray-600 pt-16 duration-300 fixed top-0 lg:static overflow-auto">
  <div class="w-full h-auto p-1 md:p-3">
    <div class="w-full h-auto flex flex-wrap justify-start items-start mb-4 md:mb-6">
      <div class="book-parent">
        <div class="book-container">
          <img class="book-image" src="https://source.unsplash.com/random/250x250/?book" alt="" />
          <div class="book-content">
            <h4 class="book-title">Noteworthy technology</h4>
            <div class="flex justify-between items-center">
              <div class="w-full mr-1"><a href="/admin/books/edit/1" class="book-manage">Ubah</a></div>
              <form action="" method="post" class="w-full ml-1">
                <button type="button" class="book-manage">Hapus</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="book-parent">
        <div class="book-container">
          <img class="book-image" src="https://source.unsplash.com/random/250x250/?book" alt="" />
          <div class="book-content">
            <h4 class="book-title">Noteworthy technology</h4>
            <div class="flex justify-between items-center">
              <div class="w-full mr-1"><a href="/admin/books/edit/2" class="book-manage">Ubah</a></div>
              <form action="" method="post" class="w-full ml-1">
                <button type="button" class="book-manage">Hapus</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="book-parent">
        <div class="book-container">
          <img class="book-image" src="https://source.unsplash.com/random/250x250/?book" alt="" />
          <div class="book-content">
            <h4 class="book-title">Noteworthy</h4>
            <div class="flex justify-between items-center">
              <div class="w-full mr-1"><a href="/admin/books/edit/3" class="book-manage">Ubah</a></div>
              <form action="" method="post" class="w-full ml-1">
                <button type="button" class="book-manage">Hapus</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="book-parent">
        <div class="book-container">
          <img class="book-image" src="https://source.unsplash.com/random/250x250/?book" alt="" />
          <div class="book-content">
            <h4 class="book-title">Noteworthy technology</h4>
            <div class="flex justify-between items-center">
              <div class="w-full mr-1"><a href="/admin/books/edit/4" class="book-manage">Ubah</a></div>
              <form action="" method="post" class="w-full ml-1">
                <button type="button" class="book-manage">Hapus</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../partials/pagination") %>

    <!-- Footer -->
    <%- include("../partials/footer") %>
  </div>
</main>
