<main id="main-menu" class="main-active w-full h-screen bg-gray-600 pt-16 duration-300 fixed top-0 lg:static overflow-auto">
  <div class="w-full h-auto p-2 md:p-6">
    <div class="w-full h-auto">
      <div class="bg-gray-800 w-full h-auto p-4 mb-4 flex justify-between items-start rounded-lg shadow-md">
        <div class="flex flex-col justify-start items-start pr-4">
          <h4 class="text-xl font-semibold px-2.5 py-0.5 mb-1 rounded bg-blue-200 text-blue-800">Ilham Jaya Kusuma</h4>
          <h5 class="text-gray-400 font-semibold ml-2.5">XII RPL 1 / 16</h5>
          <h6 class="text-white font-bold break-all">Judul Buku : <span class="font-normal underline">Cara Mendapatkan Pekerjaan</span></h6>
        </div>
        <div class="flex flex-col justify-start items-center">
          <form action="" method="post" class="flex justify-center items-center mb-2">
            <button type="button" class="button-check">
              <svg class="w-5 h-5 fill-white" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
                <path d="M144 400C144 258.6 258.6 144 400 144C541.4 144 656 258.6 656 400C656 541.4 541.4 656 400 656C258.6 656 144 541.4 144 400ZM515.8 355.8C526.7 344.9 526.7 327.1 515.8 316.2C504.9 305.3 487.1 305.3 476.2 316.2L368 424.4L323.8 380.2C312.9 369.3 295.1 369.3 284.2 380.2C273.3 391.1 273.3 408.9 284.2 419.8L348.2 483.8C359.1 494.7 376.9 494.7 387.8 483.8L515.8 355.8Z" />
              </svg>
            </button>
          </form>
          <form action="" method="post" class="flex justify-center items-center mb-2">
            <button type="button" class="button-xmark">
              <svg class="w-5 h-5 fill-white" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
                <path d="M144 400C144 258.6 258.6 144 400 144C541.4 144 656 258.6 656 400C656 541.4 541.4 656 400 656C258.6 656 144 541.4 144 400ZM319 352.1L366.1 399.1L319 447C309.7 456.4 309.7 471.6 319 480.1C328.4 490.3 343.6 490.3 352.1 480.1L399.1 433.9L447 480.1C456.4 490.3 471.6 490.3 480.1 480.1C490.3 471.6 490.3 456.4 480.1 447L433.9 399.1L480.1 352.1C490.3 343.6 490.3 328.4 480.1 319C471.6 309.7 456.4 309.7 447 319L399.1 366.1L352.1 319C343.6 309.7 328.4 309.7 319 319C309.7 328.4 309.7 343.6 319 352.1Z" />
              </svg>
            </button>
          </form>
        </div>
      </div>

      <div class="bg-gray-800 w-full h-auto p-4 mb-4 flex justify-between items-start rounded-lg shadow-md">
        <div class="flex flex-col justify-start items-start pr-4">
          <h4 class="text-xl font-semibold px-2.5 py-0.5 mb-1 rounded bg-blue-200 text-blue-800">Ilham Jaya Kusuma</h4>
          <h5 class="text-gray-400 font-semibold ml-2.5">XII RPL 1 / 16</h5>
          <h6 class="text-white font-bold break-all">Judul Buku : <span class="font-normal underline">Cara Mendapatkan Pekerjaan</span></h6>
        </div>
        <div class="flex flex-col justify-start items-center">
          <form action="" method="post" class="flex justify-center items-center mb-2">
            <button type="button" class="button-check">
              <svg class="w-5 h-5 fill-white" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
                <path d="M144 400C144 258.6 258.6 144 400 144C541.4 144 656 258.6 656 400C656 541.4 541.4 656 400 656C258.6 656 144 541.4 144 400ZM515.8 355.8C526.7 344.9 526.7 327.1 515.8 316.2C504.9 305.3 487.1 305.3 476.2 316.2L368 424.4L323.8 380.2C312.9 369.3 295.1 369.3 284.2 380.2C273.3 391.1 273.3 408.9 284.2 419.8L348.2 483.8C359.1 494.7 376.9 494.7 387.8 483.8L515.8 355.8Z" />
              </svg>
            </button>
          </form>
          <form action="" method="post" class="flex justify-center items-center mb-2">
            <button type="button" class="button-xmark">
              <svg class="w-5 h-5 fill-white" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
                <path d="M144 400C144 258.6 258.6 144 400 144C541.4 144 656 258.6 656 400C656 541.4 541.4 656 400 656C258.6 656 144 541.4 144 400ZM319 352.1L366.1 399.1L319 447C309.7 456.4 309.7 471.6 319 480.1C328.4 490.3 343.6 490.3 352.1 480.1L399.1 433.9L447 480.1C456.4 490.3 471.6 490.3 480.1 480.1C490.3 471.6 490.3 456.4 480.1 447L433.9 399.1L480.1 352.1C490.3 343.6 490.3 328.4 480.1 319C471.6 309.7 456.4 309.7 447 319L399.1 366.1L352.1 319C343.6 309.7 328.4 309.7 319 319C309.7 328.4 309.7 343.6 319 352.1Z" />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include("../partials/footer") %>
  </div>
</main>
