<nav class="flex justify-center px-1">
  <ul class="inline-flex -space-x-px overflow-auto">
    <li><a href="" class="pagination-previous">Sebelumnya</a></li>
    <li><a href="" class="pagination-unactive">1</a></li>
    <li><a href="" class="pagination-unactive">2</a></li>
    <li><a href="" class="pagination-active">3</a></li>
    <li><a href="" class="pagination-unactive">4</a></li>
    <li><a href="" class="pagination-unactive">5</a></li>
    <li><a href="" class="pagination-next">Selanjutnya</a></li>
  </ul>
</nav>
